{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-airbnb-base"
	],
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off"
	}
}