{
	"host": "127.0.0.1",
	"port": 3306,
	"username": "test",
	"password": "test",
	"database": "test",
	"logging": false,
	"entities": [
		"src/storage/entity/**/*.ts"
	],
	"migrations": [
		"src/storage/migration/**/*.ts"
	],
	"subscribers": [
		"src/storage/subscriber/**/*.ts"
	],
	"cli": {
		"entitiesDir": "src/storage/entity",
		"migrationsDir": "src/storage/migration",
		"subscribersDir": "src/storage/subscriber"
	}
}
